Первое задание по анализу текстов.
Написать преобразователи форматов txt; html; docx; pdf в xml со структурой
<doc>
  <block>
    text...
  </block>
  text...
</doc>
В отдельные блоки выделяется к примеру главы, а в подблоки абзацы
